html,
body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 8px;
}

.board {
  border: 1px solid;
  overflow: hidden;
}
